### weighted_average_vote: total weighted average rating
---
### total_votes: total votes received
---
### mean_vote: total mean vote
---
### median_vote: total median vote
---
### votes_10: number of votes with rating equal to 10
---
### votes_9: number of votes with rating equal to 9
---
### votes_8: number of votes with rating equal to 8
---
### votes_7: number of votes with rating equal to 7
---
### votes_6: number of votes with rating equal to 6
---
### votes_5: number of votes with rating equal to 5
---
### votes_4: number of votes with rating equal to 4
---
### votes_3: number of votes with rating equal to 3
---
### votes_2: number of votes with rating equal to 2
---
### votes_1: number of votes with rating equal to 1
---
### allgenders_0age_avg_vote: average rating from users with age lower than 18
---
### allgenders_0age_votes: number of votes from users : age lower than 18
---
### allgenders_18age_avg_vote: average rating from users with age greater or equal to 18 and lower than 30
---
### allgenders_18age_votes: number of votes from users with age greater or equal to 18 and lower than 30
---
### allgenders_30age_avg_vote: average rating from users with age greater or equal to 30 and lower than 45
---
### allgenders_30age_votes: number of votes from users with age greater or equal to 30 and lower than 45
---
### allgenders_45age_avg_vote: average rating from users with age greater or equal to 45
---
### allgenders_45age_votes: number of votes from users with age greater or equal to 45
---
### males_allages_avg_vote: average rating from all male users with demographic data available (all ages)
---
### males_allages_votes: number of votes from all male users with demographic data available (all ages)
---
### males_0age_avg_vote: average rating from male users with age lower than 18
---
### males_0age_votes: number of votes from male users with age lower than 18
---
### males_18age_avg_vote: average rating from male users with age greater or equal to 18 and lower than 30
---
### males_18age_votes: number of votes from male users with age greater or equal to 18 and lower than 30
---
### males_30age_avg_vote: average rating from male users with age greater or equal to 30 and lower than 45
---
### males_30age_votes: number of votes from male users with age greater or equal to 30 and lower than 45
---
### males_45age_avg_vote: average rating from male users with age greater or equal to 45
---
### males_45age_votes: number of votes from male users with age greater or equal to 45
---
### females_allages_avg_vote: average rating from all female users with demographic data available (all ages)
---
### females_allages_votes: number of votes from all female users with demographic data available (all ages)
---
### females_0age_avg_vote: average rating from female users with age lower than 18
---
### females_0age_votes: number of votes from female users with age lower than 18
---
### females_18age_avg_vote: average rating from female users with age greater or equal to 18 and lower than 30
---
### females_18age_votes: number of votes from female users with age greater or equal to 18 and lower than 30
---
### females_30age_avg_vote: average rating from female users with age greater or equal to 30 and lower than 45
---
### females_30age_votes: number of votes from female users with age greater or equal to 30 and lower than 45
---
### females_45age_avg_vote: average rating from male users with age greater or equal to 45
---
### females_45age_votes: number of votes from male users with age greater or equal to 45
---
### top1000_voters_rating: average rating from top 1000 voters
---
### top1000_voters_votes: number of votes from top 1000 voters
---
### us_voters_rating: average rating from US voters
---
### us_voters_votes: number of votes from US voters
---
### non_us_voters_rating: average rating from non-US voters
---
### non_us_voters_votes: number of votes from non-US voters

### imdb_title_id: ID do título no IMDb
---
### title: nome do título
---
### original_title: nome do título original
---
### year: Ano de lançamento
---
### date_published: data de lançamento
---
### genre: gênero de filme
---
### duration: duração (em minutos)
---
### country: país de produção
---
### language: linguagem do filme
---
### director: nome do diretor
---
### writer: nome do escritor
---
### production_company: companhia de produção
---
### actors: nomes de atores
---
### description: descrição do enredo
---
### avg_vote: voto médio
---
### votes: número de votos recebidos
---
### budget: despesas
---
### usa_gross_income: Renda bruta dos EUA
---
### worlwide_gross_income: renda bruta mundial
---
### metascore: classificação metascore
---
### reviews_from_users: número de comentários de usuários
---
### reviews_from_critics: número de comentários dos críticos

In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [2]:
df_movie = pd.read_csv(r'Arquivos/IMDb movies.csv')
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   title                  85855 non-null  object
 2   original_title         85855 non-null  object
 3   year                   85855 non-null  object
 4   date_published         85855 non-null  object
 5   genre                  85855 non-null  object
 6   duration               85855 non-null  int64
 7   country                85791 non-null  object
 8   language               85022 non-null  object
 9   director               85768 non-null  object
 10  writer                 84283 non-null  object
 11  production_company     81400 non-null  object
 12  actors                 85786 non-null  object
 13  description            83740 non-null  object
 14  avg_vote               85855 non-null  float64
 15  votes                  85855 non-null  int64
 16  budget                 23710 non-null  object
 17  usa_gross_income       15326 non-null  object
 18  worlwide_gross_income  31016 non-null  object
 19  metascore              13305 non-null  float64
 20  reviews_from_users     78258 non-null  float64
 21  reviews_from_critics   74058 non-null  float64
dtypes: float64(4), int64(2), object(16)
memory usage: 14.4+ MB

C:\Users\william.prochnow\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_movie.shape

(85855, 22)

In [4]:
df_movie.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

---

## Análises

In [5]:
df_movie.isnull().sum()

imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                     64
language                   833
director                    87
writer                    1572
production_company        4455
actors                      69
description               2115
avg_vote                     0
votes                        0
budget                   62145
usa_gross_income         70529
worlwide_gross_income    54839
metascore                72550
reviews_from_users        7597
reviews_from_critics     11797
dtype: int64

In [6]:
df_movie['language'].value_counts()

English                                                     35939
French                                                       3903
Spanish                                                      2831
Japanese                                                     2826
Italian                                                      2731
                                                            ...
English, Spanish, Icelandic                                     1
French, Arabic, English, Italian                                1
Italian, German, Latin, English, Spanish, Polish, French        1
Korean, Russian, English                                        1
Filipino, Tagalog, Japanese, English                            1
Name: language, Length: 4377, dtype: int64

In [7]:
df_movie[df_movie['title'] != df_movie['original_title']]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
12,tt0003014,Il calvario di una madre,Ingeborg Holm,1913,1915-10-18,Drama,96,Sweden,NaN,Victor Sjöström,Nils Krok,Svenska Biografteatern AB,"Hilda Borgström, Aron Lindgren, Erik Lindholm,...",Single mother is separated from her children d...,7.1,948,NaN,NaN,NaN,NaN,16.0,7.0
17,tt0003167,Amore di madre,"Home, Sweet Home",1914,1914-05-17,Drama,55,USA,English,D.W. Griffith,"D.W. Griffith, H.E. Aitken",Majestic Motion Picture Company,"Henry B. Walthall, Josephine Crowell, Lillian ...",John Howard Payne at his most miserable point ...,5.8,187,NaN,NaN,NaN,NaN,6.0,NaN
18,tt0003419,Lo studente di Praga,Der Student von Prag,1913,1913-08-22,"Drama, Fantasy, Horror",85,Germany,"German, English","Paul Wegener, Stellan Rye","Hanns Heinz Ewers, Hanns Heinz Ewers",Deutsche Bioscop GmbH,"Paul Wegener, Grete Berger, Lyda Salmonova, Jo...","Balduin, a student of Prague, leaves his royst...",6.5,1768,NaN,NaN,NaN,NaN,20.0,26.0
38,tt0004681,La madonnina del porto,Tess of the Storm Country,1914,1914-03-30,Drama,80,USA,English,Edwin S. Porter,"Grace Miller White, B.P. Schulberg",Famous Players Film Company,"Mary Pickford, Harold Lockwood, Olive Carey, D...",A wealthy resident attempts to dispossess squa...,6.1,178,$ 10000,NaN,NaN,NaN,5.0,3.0
47,tt0004972,Nascita di una nazione,The Birth of a Nation,1915,1915-03-21,"Drama, History, War",195,USA,None,D.W. Griffith,"Thomas Dixon Jr., Thomas Dixon Jr.",David W. Griffith Corp.,"Henry B. Walthall, Lillian Gish, Mae Marsh, Mi...",The Stoneman family finds its friendship with ...,6.3,22213,$ 100000,NaN,NaN,NaN,368.0,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85790,tt9828918,#IoSonoQui,#jesuislà,2019,2020-02-05,Comedy,97,"France, Belgium",French,Eric Lartigau,"Thomas Bidegain, Thomas Bidegain",Rectangle Productions,"Alain Chabat, Doona Bae, Blanche Gardin, Ilian...",Stéphane lives a quiet life as an eminent Fren...,6.0,415,NaN,NaN,$ 1446784,NaN,3.0,10.0
85805,tt9850064,Children of the Sea,Kaijû no kodomo,2019,2019-12-02,"Animation, Adventure, Drama",111,Japan,Japanese,Ayumu Watanabe,"Daisuke Igarashi, Hanasaki Kino",Beyond C.,"Mana Ashida, Hiiro Ishibashi, Seishû Uragami, ...",A young girl is drawn into a mystery involving...,6.5,1148,NaN,NaN,$ 2789668,NaN,8.0,37.0
85807,tt9855978,Dreambuilders - La fabbrica dei sogni,Drømmebyggerne,2020,2020-09-10,"Animation, Adventure, Comedy",81,Denmark,Danish,"Kim Hagen Jensen, Tonni Zinck","Søren Grinderslev Hansen, Kim Hagen Jensen",First Lady Film,"Robyn Dempsey, Emma Jenkins, Luke Griffin, Tom...","It centers on Minna, a young girl who misuses ...",6.3,174,NaN,NaN,$ 820539,NaN,4.0,20.0
85811,tt9860728,Falling Inn Love - Ristrutturazione con amore,Falling Inn Love,2019,2019-08-29,"Comedy, Romance",98,USA,English,Roger Kumble,"Elizabeth Hackett, Hilary Galanoy",NaN,"Christina Milian, Adam Demos, Jeffrey Bowyer-C...",When city girl Gabriela spontaneously enters a...,5.6,14108,NaN,NaN,NaN,NaN,265.0,32.0
85842,tt9900060,Lupin III: La menzogna di Fujiko Mine,Lupin the IIIrd: Mine Fujiko no Uso,2019,2019-05-31,"Animation, Adventure, Crime",58,Japan,Japanese,Takeshi Koike,"Monkey Punch, Laura Megan Stahl",TMS Entertainment,"Kan'ichi Kurita, Kiyoshi Kobayashi, Miyuki Saw...",Fujiko befriends a young boy whose late father...,6.9,103,NaN,NaN,NaN,NaN,1.0,1.0

In [8]:
df_movie[df_movie['duration'] == df_movie['duration'].max()]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
85057,tt9047474,La flor,La flor,2016,2018-09-21,"Drama, Fantasy, Musical",808,Argentina,"Catalan, Spanish, French, English, Russian, Ge...",Mariano Llinás,Mariano Llinás,El Pampero Cine,"Elisa Carricajo, Valeria Correa, Pilar Gamboa,...","A film in six episodes, connected by the same ...",7.7,473,NaN,$ 4032,$ 4032,77.0,5.0,23.0

---

## Tratamentos

### Date

In [9]:
df_movie[['year', 'date_published']] = df_movie[['year', 'date_published']].astype(str)
df_movie['year'] = df_movie['year'].apply(lambda x: x.replace("TV Movie ", ""))
df_movie['year'] = df_movie['year'].apply(lambda x: x.replace("'", ""))

df_movie['year'] = pd.to_numeric(df_movie['year'])

In [10]:
df_movie['date_published'] = df_movie['date_published'].apply(lambda x: x.replace("TV Movie ", ""))
df_movie['date_published'] = pd.to_datetime(df_movie['date_published'])

### País

In [11]:
df_movie.drop(df_movie[df_movie['country'].isnull() == True].index, inplace=True)

### Idioma

#### A fazer

In [12]:
df_movie[(~df_movie['country'].str.contains(', ')) & 
         (df_movie['language'].isnull() == True)]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
8,tt0002452,Independenta Romaniei,Independenta Romaniei,1912,1912-09-01,"History, War",120,Romania,NaN,"Aristide Demetriade, Grigore Brezeanu","Aristide Demetriade, Petre Liciu",Societatea Filmului de Arta Leon Popescu,"Aristide Demetriade, Constanta Demetriade, Con...",The movie depicts the Romanian War of Independ...,6.7,198,ROL 400000,NaN,NaN,NaN,4.0,1.0
12,tt0003014,Il calvario di una madre,Ingeborg Holm,1913,1915-10-18,Drama,96,Sweden,NaN,Victor Sjöström,Nils Krok,Svenska Biografteatern AB,"Hilda Borgström, Aron Lindgren, Erik Lindholm,...",Single mother is separated from her children d...,7.1,948,NaN,NaN,NaN,NaN,16.0,7.0
21,tt0003637,Assunta Spina,Assunta Spina,1915,1916-05-01,Drama,72,Italy,NaN,"Francesca Bertini, Gustavo Serena","Salvatore Di Giacomo, Francesca Bertini",Caesar Film,"Francesca Bertini, Gustavo Serena, Carlo Benet...",Assunta Spina is a tragedy set in Naples at th...,6.4,378,NaN,NaN,NaN,NaN,7.0,2.0
41,tt0004743,Uncle Tom's Cabin,Uncle Tom's Cabin,1914,1914-08-10,Drama,54,USA,NaN,William Robert Daly,"Harriet Beecher Stowe, George L. Aiken",World Film,"Sam Lucas, Walter Hitchcock, Hattie Delaro, Ma...",A black and white silent film based on Harriet...,5.3,112,NaN,NaN,NaN,NaN,4.0,NaN
53,tt0005529,Hævnens Nat,Hævnens Nat,1916,1916-09-25,"Crime, Drama, Horror",100,Denmark,NaN,Benjamin Christensen,Benjamin Christensen,Dansk Biograf Compagni,"Benjamin Christensen, Karen Caspersen, Peter F...","A criminal escapes from prison, however a betr...",6.8,268,NaN,NaN,NaN,NaN,7.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85653,tt9652888,Along Came the Devil 2,Along Came the Devil 2,2019,2019-10-11,"Horror, Thriller",87,USA,NaN,Jason DeVan,"Jason DeVan, Jason DeVan",DeVan Clan Productions,"Laura Wiggins, Bruce Davison, Mark Ashworth, K...","After receiving an unsettling voicemail, Jorda...",4.4,368,NaN,NaN,NaN,NaN,13.0,5.0
85781,tt9817300,15 August,15 August,2019,2019-03-29,Drama,124,India,NaN,Swapnaneel Jaykar,Yogesh Vinayak Joshi,RnM Motion Pictures,"Abhishek Deshmukh, Mrinmayee Deshpande, Namrat...","On India's Independence Day, a zany mishap in ...",5.8,199,NaN,NaN,NaN,NaN,6.0,4.0
85794,tt9838372,Fei fen shu nü,Fei fen shu nü,2019,2019-04-04,Drama,108,Hong Kong,NaN,Tsui Shan Tsang,"Anna Yuet Shan Lai, Link Sng",Emperor Film Production,"Charlene Choi, Kang Ren Wu, Tony Liu, Cecilia ...",Siu Man is a nurse who has lost who she is as ...,5.0,184,NaN,NaN,$ 459289,NaN,3.0,3.0
85829,tt9887520,Season of Love,Season of Love,2019,2019-11-30,"Comedy, Romance",105,USA,NaN,Christin Baker,Kathryn Trammell,Tello Films,"Dominique Provost-Chalkley, Jessica Clark, Emi...",A queer lady holiday romantic comedy that foll...,7.5,228,NaN,NaN,NaN,NaN,10.0,5.0
85834,tt9894098,Sathru,Sathru,2019,2019-03-08,Thriller,129,India,NaN,Naveen Nanjundan,NaN,Milestone Movies,"Master Ajithesh, Anal Akilan, A.R. Bala, Aruvi...",A kidnapping gone wrong leads to mounting tens...,6.0,226,NaN,NaN,$ 8683,NaN,12.0,1.0

In [13]:
df_movie[df_movie['country'].index == 83234]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
83234,tt7791188,The Bra,The Bra,2018,2019-11-14,"Comedy, Drama",90,"Germany, Azerbaijan",None,Veit Helmer,"Leonie Geisinger, Veit Helmer",Veit Helmer Filmproduktion,"Predrag 'Miki' Manojlovic, Denis Lavant, Paz V...",Train driver Nurlan is heading to Baku for the...,6.7,402,NaN,NaN,$ 38291,NaN,6.0,21.0

---

In [14]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85791 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85791 non-null  object
 1   title                  85791 non-null  object
 2   original_title         85791 non-null  object
 3   year                   85791 non-null  int64
 4   date_published         85791 non-null  datetime64[ns]
 5   genre                  85791 non-null  object
 6   duration               85791 non-null  int64
 7   country                85791 non-null  object
 8   language               84983 non-null  object
 9   director               85711 non-null  object
 10  writer                 84232 non-null  object
 11  production_company     81354 non-null  object
 12  actors                 85725 non-null  object
 13  description            83676 non-null  object
 14  avg_vote               85791 non-null  float64
 15  votes                  85791 non-null  int64
 16  budget                 23706 non-null  object
 17  usa_gross_income       15322 non-null  object
 18  worlwide_gross_income  31001 non-null  object
 19  metascore              13300 non-null  float64
 20  reviews_from_users     78201 non-null  float64
 21  reviews_from_critics   74012 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(14)
memory usage: 15.1+ MB

In [15]:
df_movie.drop(df_movie[df_movie['director'].isnull() == True].index, inplace=True)
df_movie.drop(df_movie[df_movie['production_company'].isnull() == True].index, inplace=True)
df_movie.drop(df_movie[df_movie['writer'].isnull() == True].index, inplace=True)
df_movie.drop(df_movie[df_movie['actors'].isnull() == True].index, inplace=True)

In [16]:
df_movie.isnull().sum()

imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                      0
language                   724
director                     0
writer                       0
production_company           0
actors                       0
description               1818
avg_vote                     0
votes                        0
budget                   57254
usa_gross_income         65061
worlwide_gross_income    50400
metascore                67010
reviews_from_users        6344
reviews_from_critics      9677
dtype: int64

In [17]:
# imdb_title_id                0
# title                        0
# original_title               0
# year                         0
# date_published               0
# genre                        0
# duration                     0
# country                      0
# director                     0
# actors                      55
# avg_vote                     0
# votes                        0

# production_company        4416

# writer                    1516

In [18]:
df_movie['description'].fillna(' ', inplace=True)

In [19]:
df_movie.isnull().sum()

imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                      0
language                   724
director                     0
writer                       0
production_company           0
actors                       0
description                  0
avg_vote                     0
votes                        0
budget                   57254
usa_gross_income         65061
worlwide_gross_income    50400
metascore                67010
reviews_from_users        6344
reviews_from_critics      9677
dtype: int64

In [20]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80162 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          80162 non-null  object
 1   title                  80162 non-null  object
 2   original_title         80162 non-null  object
 3   year                   80162 non-null  int64
 4   date_published         80162 non-null  datetime64[ns]
 5   genre                  80162 non-null  object
 6   duration               80162 non-null  int64
 7   country                80162 non-null  object
 8   language               79438 non-null  object
 9   director               80162 non-null  object
 10  writer                 80162 non-null  object
 11  production_company     80162 non-null  object
 12  actors                 80162 non-null  object
 13  description            80162 non-null  object
 14  avg_vote               80162 non-null  float64
 15  votes                  80162 non-null  int64
 16  budget                 22908 non-null  object
 17  usa_gross_income       15101 non-null  object
 18  worlwide_gross_income  29762 non-null  object
 19  metascore              13152 non-null  float64
 20  reviews_from_users     73818 non-null  float64
 21  reviews_from_critics   70485 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(14)
memory usage: 14.1+ MB

In [21]:
df_movie.drop(columns=['reviews_from_critics', 'reviews_from_users', 'metascore', 'worlwide_gross_income', 
                       'usa_gross_income', 'budget', 'language', 'title'], inplace=True)

In [22]:
df_movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80162 entries, 0 to 85854
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   imdb_title_id       80162 non-null  object
 1   original_title      80162 non-null  object
 2   year                80162 non-null  int64
 3   date_published      80162 non-null  datetime64[ns]
 4   genre               80162 non-null  object
 5   duration            80162 non-null  int64
 6   country             80162 non-null  object
 7   director            80162 non-null  object
 8   writer              80162 non-null  object
 9   production_company  80162 non-null  object
 10  actors              80162 non-null  object
 11  description         80162 non-null  object
 12  avg_vote            80162 non-null  float64
 13  votes               80162 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(9)
memory usage: 9.2+ MB

In [23]:
df_movie.to_csv('Arquivos/movie_trated.csv', index=None)