In [19]:
from pyspark.sql import SparkSession, functions
spark = SparkSession.builder.appName("miss").getOrCreate()

In [2]:
df_null = spark.read.csv('Arquivos/ContainsNull.csv', header=True, inferSchema=True)

In [11]:
df_null.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

In [4]:
df_null.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [6]:
df_null.na.drop(thresh=2).show() # Onde tem as 2 colunas faltantes

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [7]:
df_null.na.drop(how="any").show() # Onde tiver algum valor faltante

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [8]:
df_null.na.drop(how="all").show() # Onde tiver todos os valores faltantes

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [9]:
df_null.na.drop(subset=["Sales"]).show() # Onde tiver valor faltante em deteminada coluna

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [12]:
df_null.na.fill("FILL VALUE").show() # Só ira substituir na colunas onde forem do mesmo tipo (str)

+----+----------+-----+
|  Id|      Name|Sales|
+----+----------+-----+
|emp1|      John| null|
|emp2|FILL VALUE| null|
|emp3|FILL VALUE|345.0|
|emp4|     Cindy|456.0|
+----+----------+-----+

In [15]:
df_null.na.fill(0).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|  0.0|
|emp2| null|  0.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [18]:
df_null.na.fill('No Name', subset=['Name']).show() # Especificando a coluna

+----+-------+-----+
|  Id|   Name|Sales|
+----+-------+-----+
|emp1|   John| null|
|emp2|No Name| null|
|emp3|No Name|345.0|
|emp4|  Cindy|456.0|
+----+-------+-----+

In [20]:
mean_val = df_null.select(functions.mean(df_null["Sales"])).collect()

In [22]:
mean_val[0][0]

400.5

In [23]:
df_null.na.fill(mean_val[0][0], ['Sales']).show() # Substituiu os valores faltantes pela média da/na coluna

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+