In [1]:
from pyspark.sql import SparkSession, types
spark = SparkSession.builder.appName("FirstTest").getOrCreate()

In [2]:
df_teste = spark.read.format("CSV")\
                     .option("header", "true")\
                     .option("inferSchema", "true")\
                     .load("../Arquivos/Basic.txt")

df_teste.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- name: string (nullable = true)

In [3]:
df_teste.show()

+----+-------+
| Age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [4]:
df_teste.describe().show()

+-------+------------------+-------+
|summary|               Age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [5]:
df_teste.select("age").show()
df_teste.select("name").show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [6]:
type(df_teste.select("age"))

pyspark.sql.dataframe.DataFrame

In [7]:
print(type(df_teste.head(2)[0]))
df_teste.head(2)[0]

<class 'pyspark.sql.types.Row'>

Row(Age=None, name='Michael')

In [8]:
df_teste.withColumn('double_age', df_teste['age']*2).show()

+----+-------+----------+
| Age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [9]:
df_teste.show()

+----+-------+
| Age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [10]:
df_teste.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [11]:
df_teste.createOrReplaceTempView('people')

In [12]:
results = spark.sql("SELECT * FROM people")

In [13]:
results.show()

+----+-------+
| Age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [14]:
new_results = spark.sql("SELECT * FROM people WHERE age = 30")

In [15]:
new_results.show()

+---+----+
|Age|name|
+---+----+
| 30|Andy|
+---+----+